@import url("https://fonts.googleapis.com/css?family=Modak|Quicksand&display=swap");

.home_body {
  height: 100%;
  background-image: url("./images/wp2190559.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.home_middle_column {
  background-color: oldlace;
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_enter {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.75);
}

.home_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_description p {
  font-size: 2em;
  margin-bottom: 90px;
  font-family: "Quicksand", sans-serif;
}

.home_description h1 {
  font-size: 90px;
  font-weight: 100;
  font-family: "Modak", cursive;
}

.home_logo {
  margin-top: 100px;
}

.home_logo img {
  height: 250px;
}

.header {
  font-family: "Quicksand", sans-serif;
  background-color: oldlace;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 5px solid #e3cc9f;
  margin: 0;
  padding: 0;
}

.header_home {
  padding: 30px;
}

.header_art_posts {
  padding: 30px;
}

.header_create_post {
  padding: 30px;
}

.art_posts_body {
  height: 100%;
  width: 100%;
  background-color: oldlace;
  margin: 0;
  padding: 0;
}

.drake {
  text-decoration: none;
}

.post {
  font-family: "Quicksand", sans-serif;
  background-color: oldlace;
  width: 100vw;
  height: 100%;
  border-bottom: 2px solid #e3cc9f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.post_image {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.post_text_fields {
  display: flex;
  justify-content: center;
}
