@import url("https://fonts.googleapis.com/css?family=Modak|Quicksand&display=swap");

.home_body {
  height: 100%;
  background-image: url("./images/wp2190559.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.home_middle_column {
  background-color: oldlace;
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_enter {
  border-radius: 10px;
  width: 100px;
  height: 60px;
  box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.75);
}

.home_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_description p {
  margin-bottom: 90px;
  font-family: "Quicksand", sans-serif;
}

.home_description h1 {
  font-size: 90px;
  font-weight: 100;
  font-family: "Modak", cursive;
}
