@import url("https://fonts.googleapis.com/css?family=Modak|Quicksand&display=swap");

/* HOME STYLES */

.home_body {
  height: 100%;
  background-image: url("./images/wp2190559.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.home_middle_column {
  background-color: oldlace;
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_enter {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.75);
}

.home_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_description p {
  font-size: 2em;
  margin-bottom: 90px;
  font-family: "Quicksand", sans-serif;
}

.home_description h1 {
  font-size: 90px;
  font-weight: 100;
  font-family: "Modak", cursive;
}

.home_logo {
  margin-top: 100px;
}

.home_logo img {
  height: 250px;
}

/* HEADER STYLES */

.header {
  font-family: "Quicksand", sans-serif;
  background-color: oldlace;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 5px solid #e3cc9f;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.header_home {
  display: flex;
}

.header_art_posts {
  display: flex;

  padding: 30px;
}

.header_create_post {
  display: flex;

  padding: 30px;
}

.header_play_button img {
  display: flex;

  width: 40px;
  height: 100%;
}

.header_play_button:hover {
  cursor: pointer;
}

.header_username {
  margin-right: 25px;
}

.header_login {
  display: flex;
}

.header_input {
  border-radius: 5px;
  padding: 2px;
}

.log-button {
  height: 54.8px;
  width: 60px;
  color: white;
  background-color: brown;
}

.art_posts_body {
  height: 100%;
  width: 100%;
  background-color: oldlace;
  margin: 0;
  padding: 0;
}

.drake {
  text-decoration: none;
}

.drake:hover {
  color: brown;
}

/* POST STYLES */

.post {
  font-family: "Quicksand", sans-serif;
  background-color: oldlace;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #e3cc9f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.post_image {
  margin: 25px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.post_text_fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_type {
  height: 100px;
  margin-right: 20px;
}

/* CREATE POST STYLES */

.create_post_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: oldlace;
  height: 100vh;
}

.create_post_fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #e3cc9f;
  padding: 50px;
  height: 500px;
  width: 1000px;
  background-color: white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.08);
}

.create_post_title {
  width: 500px;
}

.create_post_description {
  width: 1000px;
  height: 400px;
  margin: 20px;
}

.btn {
  width: 120px;
  height: 60px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.08);
  background-color: white;
  border: solid 2px brown;
}
